// SVN-Gilroy Font Family
@font-face {
    font-family: 'SVN-Gilroy';
    src: url('../assets/fonts/SVN-Gilroy Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gilroy';
    src: url('../assets/fonts/SVN-Gilroy Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gilroy';
    src: url('../assets/fonts/SVN-Gilroy Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gilroy';
    src: url('../assets/fonts/SVN-Gilroy SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gilroy';
    src: url('../assets/fonts/SVN-Gilroy Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gilroy';
    src: url('../assets/fonts/SVN-Gilroy Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

// Inter Font Family
@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-ThinItalic.otf') format('opentype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}
