.mobile-layout {
    min-height: 100vh;
    background: #fff;

    .mobile-header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 998;
        padding: 0 16px;
        display: flex;
        align-items: center;
        background-color: #fff;

        .header-content {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;

            .search-bar-container {
                width: 100%;
                // height: 48px;
                background: #f1f1f1;
                border-radius: 24px;
                display: flex;
                align-items: center;
                padding: 10px 20px;
                gap: 12px;

                .search-icon {
                    font-size: 20px;
                    color: #9a9999;
                }

                .search-input {
                    flex: 1;
                    border: none;
                    background: transparent;
                    outline: none;
                    font-size: 16px;
                    color: #262626;

                    &::placeholder {
                        color: #bfbfbf;
                    }
                }

                .search-actions {
                    display: flex;
                    align-items: center;
                    gap: 12px;

                    .separator {
                        width: 1px;
                        height: 24px;
                        background-color: #f0f0f0;
                    }

                    .filter-icon {
                        font-size: 20px;
                        color: #262626;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .mobile-content {
        margin-top: 90px;
        min-height: calc(100vh - 128px);
        background: #fff;
    }
}

@media (min-width: 768px) {
    .mobile-layout {
        .mobile-header {
            .header-content {
                max-width: 1200px;
                margin: 0 auto;
            }
        }

        .mobile-content {
            max-width: 1200px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}
